@import "light.css";
@import "dark.css";

body {
    color: var(--font-color);
    background: var(--bg-color);
}

a, .nav-link {
    color: var(--font-color) !important;
}

h1:after {
    content:' ';
    display:block;
    border:1px solid #d0d0d0;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

a:hover, .nav-link:hover {
    color: var(--link-color) !important;
}

.navbar, .footer {
    background: var(--navbar-color);
}

.navbar .disabled {
    color: var(--navbar-disabled-color) !important;
}

.navbar-brand {
    color: var(--navbar-brand-color);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.btn-switch svg {
    fill: var(--font-color);
    height: 25px;
    width: 25px;
}

.btn-switch svg:hover {
    fill: var(--link-color)
}