{{define "main"}}
<div class="container">
    <div id="content">
        <table class="table">
            <tbody>
                {{range .History}}
                <tr>
                    <td><img class="gravatar" src="https://www.gravatar.com/avatar/{{.EmailHash}}" /></td>
                    <td>{{.Author.Name}}</td>
                    <td>{{.Message}}</td>
                    <td>{{.Author.When.Format "02 Jan 06 15:04 MST"}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}